[submodule "deps/edge-net"]
	path = deps/edge-net
	url = https://github.com/yanshay/edge-net
	branch = yanshay_update-to-embassy-time-0.5.0
[submodule "deps/esp-hal-app"]
	path = deps/esp-hal-app
	url = https://github.com/yanshay/esp-hal-app
[submodule "deps/esp-mbedtls"]
	path = deps/esp-mbedtls
	url = https://github.com/yanshay/esp-mbedtls
	branch = yanshay_esp-hal-1.0.0-with-session-reuse
